body{
    text-align: center;
}
.btn{
    height: 250px;
    width: 250px;
    border-radius: 30%;
    border: 10px solid black;  
    margin: 25px; 
}
.btnctr{
    display: flex;
    justify-content: center;
}
.green{
    background-color: rgb(0, 128, 0);
}
.yellow{
    background-color: rgb(180, 180, 88);
}
.red{
    background-color: rgb(151, 37, 37);
}
.blue{
    background-color: rgb(135, 206, 235);
}
.gameflash{
    background-color: rgb(255, 255, 255);
}
.userflash{
    background-color: rgb(233, 135, 224);
}